<div class="alphabet">
    <a href="/drinks/a">A</a>
    <a href="/drinks/b">B</a>
    <a href="/drinks/c">C</a>
    <a href="/drinks/d">D</a>
    <a href="/drinks/e">E</a>
    <a href="/drinks/f">F</a>
    <a href="/drinks/g">G</a>
    <a href="/drinks/h">H</a>
    <a href="/drinks/i">I</a>
    <a href="/drinks/j">J</a>
    <a href="/drinks/k">K</a>
    <a href="/drinks/l">L</a>
    <a href="/drinks/m">M</a>
    <a href="/drinks/n">N</a>
    <a href="/drinks/o">O</a>
    <a href="/drinks/p">P</a>
    <a href="/drinks/q">Q</a>
    <a href="/drinks/r">R</a>
    <a href="/drinks/s">S</a>
    <a href="/drinks/t">T</a>
    <a href="/drinks/u">U</a>
    <a href="/drinks/v">V</a>
    <a href="/drinks/w">W</a>
    <a href="/drinks/x">X</a>
    <a href="/drinks/y">Y</a>
    <a href="/drinks/z">Z</a>
</div>