body {
    background: linear-gradient(-45deg, #df47a8, #e73c7e, #23a6d5, #79b6cd);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    75% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.globalContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.globalCard {
    margin: 10px 0px 10px 0px;
    padding-bottom: 5%;
}

.globalCard:nth-of-type(3) {
    min-height: 10vh;
}

.drinkDetails {
    width: 40%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 15px;
}

.card {
    background-color: #df47a8;
    text-align: center;
    border: 5px solid white;
    border-radius: 3%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 200px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}

header {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 15px;
    text-align: center;
    padding-bottom: 10%;
}

h2 {
    font-family: 'Great Vibes', cursive;
}

h1, h2, h3, h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

h4 {
    color: #ffd1dc; 
}

.drinkDetails > img {
    border: 5px solid white;
    border-radius: 3%;
    margin: 15px 0;
}

#instructions {
    padding: 10px 5%;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    color: white;
    text-align: justify;
    text-align-last: center;
}

input {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #df47a8;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#searchButton:hover {
    background-color: #23a6d5;
    cursor: pointer;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}

#textInput {
    background-color: white;
    color: black;
}

hr {
    width: 90%;
    height: 2px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    background-color: black;
    margin-top: 100px;
    padding: 25px;
}

.drinkDetails h4, .drinkDetails p {
    margin: 5px 0;
}

@media (max-width: 800px) {
    #instructions {
        padding-left: 10%;
        padding-right: 10%;
    }
    .drinkDetails {
        width: 80%;
    }
}
